<div id="component{{ component.id }}" class="component components-text" rel="{{ component.id }}">
        {{ component.text }}
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 7a587f28cc541bd88000a3f6e7bac70a4bcbf5bc
