{% macro get(zid) %}
<section id="zone1" class="zone" rel="{{zid}}">
    <a href="#" class="config"></a>
    <div class="option">
        <ul>
            <li><a href="#">Modifier</a></li>
        </ul>
    </div>
    <div class="content">
    </div>
    <div class="clearfix"></div>
</section>
{% endmacro %}