{% block stylesheets %}
     <link href="{{ asset('bundles/ikimeapage/css/page.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}  
<<<<<<< HEAD
     
=======

>>>>>>> 7a587f28cc541bd88000a3f6e7bac70a4bcbf5bc
<div id="toolbar">
    <div class="toolbar-header">
        <a href="#"> &nbsp; </a>
    </div>
    <div class="toolbar-menu">
        <ul class="parent">
            <li>
                <a href="#"><img src="/bundles/ikimeapage/images/components.png" alt=" " /></a>
                <div class="box" class="components">
                    <ul>
                        <li id="component-text" class="text"><a href="#"><img src="/bundles/ikimeapage/images/components/text/icon.png" alt=" " /> Text</a></li>
                    </ul>
                        <div class="clear-fix"></div>
                </div>
            </li>
            <li><a href="#"><img src="/bundles/ikimeapage/images/page.png" alt=" " /></a></li>
        </ul>
    </div>
<<<<<<< HEAD
    
        
    <div id="toolbar-footer">
   
    </div>
=======
>>>>>>> 7a587f28cc541bd88000a3f6e7bac70a4bcbf5bc
</div>