{% block cmstoolbar %}
<div id="toolbar">
    <div class="toolbar-header">
        <a href="#"> &nbsp; </a>
    </div>
    <div class="toolbar-menu">
        <ul class="parent">
            <li>
                <a href="#"><img src="/bundles/ikimeapage/images/components.png" alt=" " /></a>
                <div class="box" class="components">
                    <ul>
                        <li id="component-text" class="text"><a href="#"><img src="/bundles/ikimeapage/images/components/text/icon.png" alt=" " /> Text</a></li>
                    </ul>
                    <div class="clear-fix"></div>
                </div>
            </li>
            <li><a href="#"><img src="/bundles/ikimeapage/images/page.png" alt=" " /></a></li>
        </ul>
    </div>    

    <div id="toolbar-footer">

    </div>
</div>
{% endblock %}