{% block cmstoolbar %}
{% if is_granted('ROLE_ADMIN') %}
<div id="teresa-toolbar">
    <div class="toolbar-header">
        <a href="#"> &nbsp; </a>
    </div>
    <div class="toolbar-menu">
        <ul class="parent">
            <li> 
                <a href="#"><img src="/bundles/ikimeapage/images/components.png" alt=" " /></a>
                <div class="box components">
                    <ul>
                        <li id="component-text" class="text component"><a href="#"><img src="/bundles/ikimeapage/images/components/text/icon.png" alt=" " /> Text</a></li>
                    </ul>
                    <div class="clear-fix"></div>
                </div>
            </li>
            <!--<li>
                <a href="#"><img src="/bundles/ikimeapage/images/page.png" alt=" " /></a>
                    <div class="box" class="page">
                    <ul>
                        <li id="page-add" class="text"><a href="#"><img src="/bundles/ikimeapage/images/components/text/icon.png" alt=" " /> Ajout</a></li>
                        <li id="page-edit" class="text"><a href="#"><img src="/bundles/ikimeapage/images/components/text/icon.png" alt=" " /> Edit</a></li>
                    </ul>
                    <div class="clear-fix"></div>
                </div>
            </li>-->
        </ul>
    </div>    

    <div id="toolbar-footer">

    </div>
</div>
{% endif %}
{% endblock %}