#teresa-toolbar {
    list-style: none outside none;
    margin: 5px 10px;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    font: small "Lucida Grande", Verdana, sans-serif;
    width: 37px;
    background: url(/bundles/ikimeapage/images/toolbar_fond.png);
    position: fixed;
    left: 2px;
    top: 70px;
    border-bottom: 1px solid #000;
    z-index: 999;
}

#teresa-toolbar .toolbar-header a {
    background: url(/bundles/ikimeapage/images/toolbar_header.png);
    height: 12px;
    display: block;
    text-decoration: none;
}

#teresa-toolbar .toolbar-menu {
    /* overflow: hidden; */
    height: 300px;
    line-height: 20px;
    padding: 5px 20px 5px 1px;
}

#teresa-toolbar .toolbar-menu ul.parent li {
    padding: 0 16px 0 10px;
    position: relative;

}

#teresa-toolbar .toolbar-menu ul.parent li a {
    color: #ffffff;
    font-size: 0.846em;
    text-decoration: none;
}

#toolbar .toolbar-menu .box {
    border: 1px solid #6c6c6c;
    width: 150px;
    background: #ededed;
    margin-left: 25px;
    margin-top: -15px;
    position: absolute;
    padding: 5px;
    display: none;
}

#teresa-toolbar .toolbar-menu .box ul li {
    float: left;
    padding: 1px;
}

#teresa-toolbar .toolbar-menu .box ul li a {
    color: #000;
}

#teresa-toolbar #toolbar-footer {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #555555), color-stop(0.1, #555555), color-stop(0.9, #444547), color-stop(1.0, #444547));
    background-color: #555;
    height: 5px;
}

/****** Area *****/
.area {
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.area.droppable-hover {
    border: 2px dotted #CCE0F5;
    cursor: move;
}

.area a.open-config {
    background: url(/bundles/ikimeapage/images/gear-select.png) no-repeat;
    width: 28px;
    height: 18px;
    display: block;
    float: right;
}

.area a.open-config:hover {
    background-position: 0 -18px;
}

.area a.open-config.active:hover {
    background-position: 0 -18px;
}

.area a.open-config.active {
    background-color: #FFFFFF;
    border: 1px solid;
    border-bottom: none;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 1;
}

.area .option {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 0 4px 4px;
    display: none;
    margin: 0;
    padding: 0.25em 0;
    right: 0;
    text-align: left;
    top: 28px;
    white-space: nowrap;
    display: none;
    position: absolute;
    width: 100px;
}

.area .option ul li {
    text-align: center;
}

.area .option ul li a {
    display: block;
    color: #333333;
    margin: 0.25em 0;
    padding: 0.25em 1em 0.25em 0.5em;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, 'HelveticaNeueLTStd77BdCn', Arial, sans-serif;
}

.area .option ul li a:hover {
    background-color: #BFDCEE;
}

.area .component.components-text {
    margin-top: 25px;
}

.area .component-content {
    z-index: 99;
}

.area .component.components-text .controls {
    margin-bottom: 10px;
}

.area .component ul li {
    clear: none;
    float: left;
    margin: 0 2px 2px 0;
}

.area .component ul li a, .zone .component .btn, .component-form input.submit, .component-form input.reset {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.218s ease 0s;
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(center bottom, #DDDDDD 0%, #F7F7F7 100%);
    border-color: #D1D1D1 #C5C5C5 #B8B8B8;
    border-left: 1px solid #C5C5C5;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #C5C5C5;
    border-style: solid;
    border-width: 1px;
    color: #262626;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
}

.area .component .btn.icon {
    padding: 4px 4px 0 20px;
}

.area .component ul li a {
    display: block;
}

.area .component .btn {
    /*width: 21px; */
    height: 15px;
    position: relative;
    padding-top: 10px;
}

.area .component .btn span.icon {
    background: url("/bundles/ikimeapage/images/a-icon-sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    left: 0;
    margin-top: -10px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 20px;
}

.area .component .btn.order span {
    background-position: 0 -20px;
}

.area .component .btn.edit span {
    background-position: 0 -440px;
}

.area .component .btn.delete span {
    background-position: -20px -1440px;
}

.area .component .btn.submit, .area .component .ikp.reset {
    height: 27px;
    padding-top: 1px;
}

.component-form {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    float: left;
    left: -5px;
    list-style: none outside none;
    margin: 0;
    min-width: 100%;
    padding: 35px 5px 5px;
    position: absolute;
    top: -6px;
    width: auto;
    z-index: 1;
}